{% extends 'base.html' %}
{% load static query_inspector_tags %}

{% block extrastyle %}
    <style>
        table th {
            width: 33%;
        }

        a.button {
            -webkit-appearance: button;
            -moz-appearance: button;
            appearance: button;
            text-decoration: none;
            color: initial;
            border: 1px solid black;
            background-color: #ddd;
            padding: 4px 8px;
        }
    </style>

{% endblock extrastyle %}


{% block content %}
    <h3>django-query-inspector example</h3>

    <div style="text-align: right;">
        <div class="toolbar">
            <label>Export Tracks queryset:</label>
            <a href="/tracks/download_queryset/xlsx/" class="button">Download (Excel)</a>
            <a href="/tracks/download_queryset/csv/" class="button">Download (CSV)</a>
        </div>
        <br />
        <div class="toolbar">
            <label>Export Tracks dataset:</label>
            <a href="/tracks/download_dataset/xlsx/" class="button">Download (Excel)</a>
            <a href="/tracks/download_dataset/csv/" class="button">Download (CSV)</a>
        </div>
    </div>

    <h4>Tracks</h4>
    <table class="simpletable smarttable">
        <thead>
            <tr>
                <th>Track</th>
                <th>Album</th>
                <th>Artist</th>
            </tr>
        </thead>
        <tbody>
            {% for track in tracks %}
            <tr>
                <td>{{track}}</td>
                <td>{{track.album}}</td>
                <td>{{track.album.artist}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>


    <br />
    <h3>render_queryset_as_table</h3>
    <table class="simpletable smarttable">
        {% render_queryset_as_table "id" "name|Track" "album|Album" queryset=tracks %}
    </table>

    <h3>render_queryset_as_table (2)</h3>
    <table class="simpletable smarttable">
        {{ html_table_tracks }}
    </table>

    <h3>render_queryset_as_table_transposed</h3>
    <table class="simpletable smarttable">
        {{ html_table_tracks_transposed }}
    </table>

    <br />
    <h3>render_queryset_as_text</h3>
    <p>
        {% render_queryset_as_text "id" "name|Track" "album|Album" queryset=tracks %}
    </p>

    <br />
    <h3>render_queryset_as_csv</h3>
    <p>
        {% render_queryset_as_csv "id" "name|Track" "album|Album" queryset=tracks %}
    </p>

    <br />
    <h3>render_queryset_as_data</h3>
    {% render_queryset_as_data "id" "name|Track" "album|Album" queryset=tracks as result %}
    <table class="simpletable">
        <tr><td>headers</td><td>{{result.0}}</td></tr>
        {% for row in result.1 %}
            <tr><td>row</td><td>{{row}}</td></tr>
        {% endfor %}
    </table>

    <br />
    <h3>render_queryset_as_data (transposed)</h3>
    <table class="simpletable">
        <tr><td>headers</td><td>{{transposed.0}}</td></tr>
        {% for row in transposed.1 %}
            <tr><td>row</td><td>{{row}}</td></tr>
        {% endfor %}
    </table>
{% endblock content %}

