{% extends 'base.html' %}
{% load static query_inspector_tags %}

{% block extrastyle %}
    <style>
        table th {
            width: 33%;
        }
    </style>

{% endblock extrastyle %}


{% block content %}
    <h3>django-query-inspector example</h3>

    <h4>Tracks</h4>

    <table class="simpletable smarttable">
        <thead>
            <tr>
                <th>Track</th>
                <th>Album</th>
                <th>Artist</th>
            </tr>
        </thead>
        <tbody>
            {% for track in tracks %}
            <tr>
                <td>{{track}}</td>
                <td>{{track.album}}</td>
                <td>{{track.album.artist}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>


    <br />
    <h3>render_queryset_as_table</h3>

    <table class="simpletable smarttable">
        {% render_queryset_as_table "id" "name|Track" "album|Album" queryset=tracks %}
    </table>

    <br />
    <h3>render_queryset_as_text</h3>

    <table class="simpletable smarttable">
        {% render_queryset_as_text "id" "name|Track" "album|Album" queryset=tracks %}
    </table>

    <br />
    <h3>render_queryset_as_csv</h3>

    <table class="simpletable smarttable">
        {% render_queryset_as_csv "id" "name|Track" "album|Album" queryset=tracks %}
    </table>

{% endblock content %}

